In [34]:
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression

In [40]:
train_data=pd.read_csv('train_ysMSKmQ.csv')

In [39]:
test_data=pd.read_csv('test_uLBXQQR.csv')

In [6]:
train_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,01/01/11,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,01/01/11,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,01/01/11,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,01/01/11,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,01/01/11,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [41]:
x=train_data[['instant','season','yr','mnth','hr','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed']]

In [42]:
y=train_data['cnt']

In [43]:
x_test=test_data[['instant','season','yr','mnth','hr','holiday','weekday','workingday','weathersit','temp','atemp','hum','windspeed']]

In [21]:
lin=LinearRegression?

In [44]:
lin=LinearRegression

In [46]:
lin.fit(x,y)

TypeError: fit() missing 1 required positional argument: 'y'

In [47]:
lin.coef_

AttributeError: type object 'LinearRegression' has no attribute 'coef_'

In [38]:
lin.intercept_

AttributeError: type object 'LinearRegression' has no attribute 'intercept_'

In [17]:
predictions=lin.predict(x_test)

TypeError: predict() missing 1 required positional argument: 'X'

In [26]:
predictions.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [28]:
print(predictions)

[ 302.73222576  322.6076107   342.56241433 ...,  228.53697885  244.21495587
  236.78749239]

In [35]:
submission = pd.DataFrame(data=[], columns=['instant', 'cnt'])
submission.instant = test_data.instant; submission.cnt = predictions

submission.to_csv('submission.csv', index=False)

submission.head()

   instant         cnt
0    13036  302.732226
1    13037  322.607611
2    13038  342.562414
3    13039  378.024896
4    13040  375.520944

In [34]:
submission.to_csv('submission.csv',index=False)
submission.head()

   instant count
0    13036   NaN
1    13037   NaN
2    13038   NaN
3    13039   NaN
4    13040   NaN

In [ ]:
y=